READ_TOKEN=key # from https://logentries.com/app/<app>#/user-account/apikey

# A comma separated list of log file ids
LOG_FILES=e20bd6af, c83c7cd7, 6fb426fd, 776dfea9

# Depending on the size of the underlying dataset of the complexity of the query, 
# a request may not yield a value straight away. In this case this gem will request 
# the results up until this retry count
MAX_RETRY=50
